.navbar a{
    display: inline-flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin-left: 80px;
    font-size: large;
    color: black;
    /* padding: 14px 16px;  */
    padding: 24px;

}
.navbar a:hover{
    background-color: aqua;
}

.landingpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    font-size: xx-large;
    
}
.girl{
    
    width: 500px;
    height: 500px;
    border-radius: 70%;
    background-color:rgb(240, 195, 131);
    /* border: solid 1px; */



}
.imagefooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}
.textfooter{
    margin-left: 30%;
    margin-top: 3%;
    font-size: x-large;
}
.textandicons{
    display: flex;
    flex-direction: row;
}
.socialIcon{
    height: 50px;
    width: 50px;
    margin-top: 3%;
}

.footer{
    background-color: #E3F0EF;
}
.input{
    width: 760px;
    height: 70px;
    border-radius: 25px;
    font-size: large;
    border-color: white;
    border-top-color: rgb(225, 221, 221);
    border-left: white;
    box-shadow: cadetblue;
    border-top-width: 0.1px;
 
}
.button{
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    
    

}
.holder{
    position: relative;
    display: inline-block;

}

button{
    border-radius: 50px;
    padding: 20px 40px;  
    background-color:rgb(120, 185, 180);
    color: white;
    border: none;
    font-size: 15px;

    
}


body{
 font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
@media screen and (min-width:280px) and (max-width:400px) {
    .navbar{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

    }
    
    .containsImage{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3%;
        font-size: small;
        
    }
    .girl{
        width: 200px;
        height: 100px;
        border-radius: 70%;
    }
    .imagefooter{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3%;
        margin-left: 25%;
    }
    .textfooter{
        margin-top: 3%;
        font-size: small;
        margin-left: 2%;
    }
  
    .footer{
        background-color: #E3F0EF;

    }

    button{
        border-radius: 20px;
        padding: 8px 6px;  
        background-color: cornflowerblue;
        color: white;
    } 
    .socialIcon{
        width: 100px;
        height: 20px;

    } 
}
@media screen and (min-width:401px) and (max-width:600px) {
    .navbar{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .containsImage{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3%;
        font-size: small;
        
    }
    .girl{
        width: 200px;
        height: 100px;
        border-radius: 70%;
    }
    .imagefooter{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3%;
        margin-left: 25%;
    }
    .textfooter{
        margin-top: 3%;
        font-size: small;
        margin-left: 2%;
    }
   
    .footer{
        background-color: #E3F0EF;

    }
    /* button{
        border-radius: 20px;
        padding: 8px 6px;
    } */
    button{
        border-radius: 20px;
        padding: 8px 6px;  
        background-color: cornflowerblue;
        color: white;
    } 
    .socialIcon{
        width: 100px;
        height: 20px;

    } 
}
@media screen and (min-width:601px) and (max-width:800px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .containsImage{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        margin-top: 3%;
        font-size: xx-large;
        
    }
    .girl{
        width: 700px;
        height: 500px;
        border-radius: 70%;
    }
    .imagefooter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
    }
    .textfooter{
        margin-left: 30%;
        margin-top: 3%;
        font-size: x-large;
    }
  
    .footer{
        background-color: #E3F0EF;
    }
    /* button{
        border-radius: 20px;
        padding: 8px 6px;
    } */
    button{
        border-radius: 20px;
        padding: 8px 6px;  
        background-color: cornflowerblue;
        color: white;
    }
    .socialIcon{
        width: 100px;
        height: 25px;
        margin-top: 5%;

    } 

}
@media screen and (min-width:801px) and (max-width:950px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .containsImage{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        margin-top: 3%;
        font-size: xx-large;
        
    }
    .girl{
        width: 700px;
        height: 500px;
        border-radius: 70%;
    }
    .imagefooter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
    }
    .textfooter{
        margin-left: 30%;
        margin-top: 3%;
        font-size: x-large;
    }
    
    .footer{
        background-color: #E3F0EF;
    }
    /* button{
        border-radius: 20px;
        padding: 8px 6px;
    } */
    button{
        border-radius: 20px;
        padding: 8px 6px;  
        background-color: cornflowerblue;
        color: white;
    }
    .socialIcon{
        width: 100px;
        height: 25px;
        margin-top: 5%;

    } 

}
@media screen and (min-width:951px) and (max-width:1280px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 60px;

    }
    
    .containsImage{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
        font-size: xx-large;
        
    }
    .girl{
        width: 700px;
        height: 500px;
        border-radius: 70%;
    }
    .imagefooter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
    }
    .textfooter{
        margin-left: 30%;
        margin-top: 3%;
        font-size: x-large;
    }
 
    .footer{
        background-color: #E3F0EF;
    }
    /* button{
        border-radius: 20px;
        padding: 8px 6px;
    } */
    button{
        border-radius: 20px;
        padding: 8px 6px;  
        background-color: cornflowerblue;
        color: white;
    }   
}


